In [4]:
import pandas as pd

In [21]:
test = pd.DataFrame({'Yes': [50, 21],
              'No': [131, 2]},
            index = ['A', 'B'])

test

   Yes   No
A   50  131
B   21    2

In [14]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [71]:
a = ['a', 'b', 'c']
b = [[1,2,3,],[4,5,6]]
c = dict(zip(a, map(list, zip(*b))))
print(c)

{'a': [1, 4], 'b': [2, 5], 'c': [3, 6]}