In [1]:
import pandas as pd

In [4]:
pd.DataFrame({'Yes': [50, 21],
              'No': [131, 2]},
            index = ['A', 'B'])

   Yes   No
A   50  131
B   21    2

In [6]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64